.container-contact{
    margin: 100px 100px 100px 100px;
}
@media screen and (max-width: 768px) {
    .container-contact {
        margin: 50px 50px 50px 50px;
    }
}

@media (max-width: 480px) {
    .author-contact {
        margin: 2px;
        padding: 30px;
        
    }


}