/* Base Styles for Full-screen Background */
.full-screen-bg {
    width: 100%;
    height: 100vh;
    /* Full viewport height */
    margin: 0;
    padding: 0;
    background-image: url("../../Assets/bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.full-screen-bg .text-class {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    /* Ensure full height */
    margin-top: 40px;
    font-size: large;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 100px;
    font-size: large;
}

.box {
    width: 250px;
    height: 250px;
    margin: 10px;
    padding: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

h3 {
    margin: 10px;
}

p {
    font-size: 1.3rem;
}

.about-journal {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
}

.about-journal h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
    text-align: left;
    font-weight: bold;
}

.about-journal div {
    font-size: 1.3rem;
    line-height: 1.6;
    text-align: justify;
}

/* Mobile and Tablet View Adjustments */
@media (max-width: 768px) {
    .full-screen-bg {
        background-size: cover;
        height: 100vh;
    }

    .full-screen-bg .text-class {
        font-size: 1.5rem;
        left: 5%;
    }

    button {
        font-size: 16px;
        padding: 15px 30px;
    }

    .row {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .box {
        width: 100%;
        max-width: 300px;
    }

    .fifth-box {
        width: 100%;
    }
}

/* Small Mobile Screen Adjustments */
@media (max-width: 480px) {
    .full-screen-bg {
        height: 100vh;
    }

    .full-screen-bg .text-class {
        font-size: 10px;
        left: 5%;
        top: 50%;
    }

    button {
        font-size: 12px;
        padding: 12px 25px;
        width: 100%;
        margin: 5px 0;
    }
}